---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';


import ContentBlocks from '~/components/ContentBlocks.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<Layout {meta}>
    <section class="content h-full sm:p-6 p-3 max-w-475">
      <ContentBlocks />
    </section>
  </Layout>
