---
import { Image } from "@astrojs/image/components";
import hero from "../assets/images/shared/yorokobi-salon-hero-2.png";
---

<div class="hero max-w-475 w-full bg-hero bg-cover bg-center shadow shadow-skinShadow/40">
  <a href="/" class="w-full h-full">
    <Image src={hero} alt="Naka Studio Logo" class="mx-auto"/>
  </a>
</div>
