---
import NameSection from "./NameSection.astro";
import SocialSection from "./SocialSection.astro";
---

<div class="bg-skin-base max-w-475 w-full shadow shadow-skinShadow/40">
  <section class="info flex justify-around border-b border-stone-100 p-6">
    <NameSection />
    <SocialSection />
  </section>
</div>
