---
import Layout from '~/layouts/BaseLayout.astro';


import { MetaSEO } from '~/types';
import Footer from '~/components/Footer.astro';
import Hero from '~/components/Hero.astro';
import TopBar from '~/components/TopBar.astro';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="hero">
    <Hero />
  </slot>
  <slot name="topbar">
    <TopBar />
  </slot>
  <main class="shadow shadow-skinShadow/40 max-w-475 w-full flex flex-1 flex-col bg-skin-base">
    <slot />
  </main>
  <slot name="footer">
    <Footer/>
  </slot>
</Layout>
